ul {
  margin-top: 20px;
  padding: 0;
}

ul.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  list-style: none;
  color: #8c8d8e;
  border: solid 1px #eaecef;
  background-color: #ebedf0;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.8em;
}

ul.list li p {
  margin: 0;
  text-align: center;
  width: 30%;
}

ul.list li p.title {
  font-weight: bold;
}
