button.btnSave {
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px #d6d7d8;
  font-size: 2em;
  background-color: #ebedf0;
  box-shadow: #d6e2e8 1px 4px 7px 0px;
  cursor: pointer;
  color: #0e5fb7;
}
