.exchange-wrapper {
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: #e0e0e0 0px 1px 32px 0px;
  padding: 1px;
  margin-top: 20px; }
  .exchange-wrapper .empty-exchanges {
    text-align: center;
    color: #bfbebe;
    font-size: 1.2em; }
  .exchange-wrapper .exchange-list {
    color: #757575;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    padding: 10px; }
    .exchange-wrapper .exchange-list .area-icon {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      margin: 0; }
    .exchange-wrapper .exchange-list .area-title {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .exchange-wrapper .exchange-list .area-title h6 {
        margin: 0; }
      .exchange-wrapper .exchange-list .area-title small {
        font-size: 1em; }
    .exchange-wrapper .exchange-list .area-value {
      display: flex;
      width: 30%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      .exchange-wrapper .exchange-list .area-value .credit {
        color: #319bdc;
        font-size: 1.3em;
        font-weight: 700;
        margin: 0; }
      .exchange-wrapper .exchange-list .area-value .debt {
        color: #d85a82;
        margin: 0; }
