.exchange-wrapper {
  background-color: #f7f7f7;
  padding: 5px;
  .exchange-list {
    color: #757575;
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    border-bottom: solid 1px #e0e0e0;

    .area-icon {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      margin: 0;
    }

    .area-title {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .area-value {
      display: flex;
      width: 20%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding-right: 10px;
      .credit {
        color: #319bdc;
        font-size: 1.5em;
        font-weight: 700;
      }
      .debt {
        color: #d85a82;
      }
    }
  }
}
