.keyboard-wrapper {
  background: linear-gradient(180deg, #4fa1ed 0%, rgba(0, 212, 255, 0) 100%); }
  .keyboard-wrapper .keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center; }
    .keyboard-wrapper .keyboard-row .keyboard-item {
      padding: 10px 50px;
      margin: 0;
      cursor: pointer;
      min-width: 25px;
      font-size: 2em; }
      .keyboard-wrapper .keyboard-row .keyboard-item:hover {
        box-shadow: #1685e6 0px 5px 11px 5px; }
      .keyboard-wrapper .keyboard-row .keyboard-item:active {
        box-shadow: none; }

@media only screen and (min-width: 768px) {
  .keyboard-wrapper {
    padding-top: 50px;
    border-bottom: solid 1px #2c80ce;
    padding-bottom: 50px; }
    .keyboard-wrapper .keyboard-row .keyboard-item {
      padding: 10px 50px;
      margin: 0;
      cursor: pointer;
      min-width: 25px;
      font-size: 3em; }
      .keyboard-wrapper .keyboard-row .keyboard-item:hover {
        box-shadow: #1685e6 0px 5px 11px 5px; } }
