.converter-widget {
  padding: 10px;
}

.converter-widget .fields {
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
}

.converter-widget .minus {
  position: absolute;
  left: 10px;
  margin: 5px;
}

.converter-widget .plus {
  position: absolute;
  left: 10px;
  margin: 5px;
}

.converter-widget .field-red,
.converter-widget .field-red input,
.converter-widget .field-red input::placeholder {
  color: #de89bb;
}

.converter-widget .field-green,
.converter-widget .field-green input,
.converter-widget .field-green input::placeholder {
  color: #91e6a4;
}

.converter-area .head {
  border-radius: 10px 10px 0 0;
  background-color: #188ee1;
  padding: 5px;
  text-align: center;
}

.converter-area .head h2 {
  margin: 10px;
}

.converter-area .head p {
  font-size: 4em;
}

.converter-area .head span {
  font-size: 2em;
}

.converter-widget .compare-quotation {
  padding: 10px;
  margin-left: 7px;
}

.converter-area .footer {
  display: flex;
  justify-content: center;
}

.converter-area .footer button {
  margin: 0 10px;
}

@media only screen and (min-width: 768px) {
  .converter-area .head {
    padding: 20px;
  }
}
