.converter-widget {
  padding: 10px;
}

.converter-widget .fields {
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
}

.converter-area .head {
  border-radius: 5px 5px 0 0;
  background-color: #45afe2;
  background-image: linear-gradient(to right, #b2d6f5, #56baea);
  padding: 20px;
  text-align: center;
}

.converter-area .head p {
  font-size: 4em;
}

.converter-area .head span {
  font-size: 2em;
}
