$background: #f3f3f3;
$white: #fff;
$gray: #8c8d8e;
$strongBlue: #0794d2;
$lightBlue: #52c3e7;
$shadowBlue: #94c8ec;

/* BUTTON */
$btnColor: #a9a9a9;
$btnBgColor: #ebedf0;
$btnBorderColor: #d6d7d8;

/* primary */
$btnShadowGray: #d6e2e8;

/* secondary */
$btnShadowBlue: #0f5092;

/* success */
$btnBgSuccess: #c6efd2;
$btnColorSuccess: #3a6948;
$btnBorderSuccess: #a4e0b6;

